:root {
    --white: #ffffff;
    --background_white: #ebebeb;
    --background_white2: #dcdcdc;
    --text: #6e6e6e;
    --shadow: #525252;
    --background: #4444448a;
    --text_black: #333333e8;
    --black: #000000;
}