:root {
    --branco: #ffffff;
    --vermelho-claro: #cf6f6f;
    --vermelho-medio: #bd5858;
    --vermelho-escuro: #ac4242;
    --marrom-avermelhado: #a52a2a;
    --cinza-claro: #ececec;
    --cinza-medio:#dcdcdc;
    --cinza: #aaaaaa;
    --cinza-escuro: #494949;
    --preto-translucido: #0000008c;
    --preto: #000000;
}
